@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    user-select: none;
}

.logo {
    font-family: "Pixelify Sans", serif;
    font-size: 3em;
}

header {
    width: 100vw;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: deepskyblue;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68vh;
}

/* .start-btn {
    color: white;
    background-color: goldenrod;
    border: 1px solid rgb(157, 116, 11);
    border-radius: 20px;
    padding: 10px;
    height: 5vh;
}

.start-btn:hover {
    box-shadow: 5px 5px 10px rgb(114, 114, 114);
    transform: scale(1.1);
    cursor: cell;
} */

.canvas {
    display: none;
    align-items: center;
    height: 68vh;
}

.board {
    display: grid;
    grid-template-columns: repeat(32, 2vh);
    grid-template-rows: repeat(32, 2vh);
    border: 3px solid black;
    cursor: pointer;
}

.cell {
    width: 2vh-3px;
    height: 2vh-3px;
    border: 1px solid black;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin-right: 4vh;
    align-items: center;
}

.buttons input {
    background-color: goldenrod;
    cursor: pointer;
    border: 2px solid black;
    width: 5vh;
    height: 5vh;
}

.buttons button {
    background-color: goldenrod;
    border: 2px solid black;
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buttons button img{
    width: 4vh;
    height: 4vh;
    margin: 0;
    padding: 0;
}

/* .download_btn{
    background-color: goldenrod;
    border: 2px solid black;
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.download_btn image {
    width: 4vh;
    height: 4vh;
    margin: 0;
    padding: 0;
} */

footer {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: deepskyblue;
    height: 18vh;
    align-items: center;
}

.right-footer {
    display: flex;
    flex-direction: column;
}

.right-footer a {
    text-decoration: none;
    color: white;
}

/* Стили для адаптивной верстки */

@media (max-width: 650px) {
    header {
        height: 10vh;
    }

    .start {
        height: 76vh;
    }

    .canvas {
        display: none;
        flex-direction: column-reverse;
        height: 76vh;
        align-items: center;
        justify-content: center;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        margin-right: 0;
        margin: 2vh 0;
        align-items: center;
        justify-content: space-evenly;
    }

    .board {
        display: grid;
        grid-template-columns: repeat(32, 2vh);
        grid-template-rows: repeat(32, 2vh);
        border: 3px solid black;
    }
    
    .cell {
        width: 2vh;
        height: 2vh;
        border: 1px solid black;
    }

    footer {
        height: 14vh;
    }
}

@media (max-width: 510px) {
    .canvas {
        display: none;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .buttons {
        width: 96vw;
        display: flex;
        flex-direction: row;
        margin-right: 0;
        margin: 1.5vh 0;
        align-items: center;
        justify-content: space-evenly;
    }

    .buttons input {
        width: 4vh;
        height: 4vh;
    }
    
    .buttons button {
        width: 4vh;
        height: 4vh;
    }
    
    .buttons button img{
        width: 3vh;
        height: 3vh;
    }

    .board {
        display: grid;
        grid-template-columns: repeat(32, 3vw);
        grid-template-rows: repeat(32, 3vw);
        border: 3px solid black;
    }
    
    .cell {
        width: 3vw;
        height: 3vw;
        border: 1px solid black;
    }
}

@media (max-width: 430px) {
    .canvas {
        display: none;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .buttons {
        width: 96vw;
        display: flex;
        flex-direction: row;
        margin-right: 0;
        margin: 1.5vh 0;
        align-items: center;
        gap: 8vw;
        justify-content: center;
    }

    .buttons input {
        width: 4vh;
        height: 4vh;
    }
    
    .buttons button {
        width: 4vh;
        height: 4vh;
    }
    
    .buttons button img{
        width: 3vh;
        height: 3vh;
    }

    .board {
        display: grid;
        grid-template-columns: repeat(32, 3vw);
        grid-template-rows: repeat(32, 3vw);
        border: 3px solid black;
    }
    
    .cell {
        width: 3vw;
        height: 3vw;
        border: 1px solid black;
    }
}